<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <link rel="stylesheet" href="public/css/style.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/public/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon-16x16.png">
    <link rel="manifest" href="/public/images/site.webmanifest">
    <link rel="shortcut icon" type="image/ico" href="/public/images/favicon.ico">
    <title>{{HTML_title}}</title>
</head>

<body>
    <main>
        {{{body}}}
    </main>
</body>

</html>