<h3>{{title}}</h3>
<form id="test_form" action="{{action}}" method="post">
    <label for="input1">Input: </label><br />
    <input type="text" id="input1" name="test_form" /><br />

    <button type="submit">Submit</button>
</form>